.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.bounce-enter-active {
  animation: bounce-in 2s;
}
.bounce-leave-active {
  animation: bounce-in 2s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.slide-fade-enter-active {
  transition: all 5s ease-out;
}

.slide-fade-leave-active {
  transition: all 5s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

.loader__wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 50;
  background-color: white;
}

.loader {
  --sz: 7rem;
  width: calc(var(--sz) * 2);
  height: var(--sz);
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.loader__sq {
  --p-sz: calc(var(--sz) / 4);
  --m-offset: calc((var(--p-sz) * -1) * 0.75);
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  height: 100%;
  width: 50%;
}

.loader__sq::before,
.loader__sq::after {
  width: var(--p-sz);
  height: var(--p-sz);
  content: "";
  position: relative;
  transform: translateY(calc((var(--sz) - var(--p-sz)) * -1));
  animation: loader-box-bounce 0.5s cubic-bezier(0.3, 0.5, 0.4, 0.95)
    calc(var(--i) * 0.06s) infinite alternate-reverse;
}

.loader__sq:first-of-type {
  margin-right: var(--m-offset);
}

.loader__sq:first-of-type::before {
  --i: 1;
  border: 3px solid #ff7ab5;
  border-radius: 50%;
}

.loader__sq:first-of-type::after {
  --i: 3;
  background-color: #c643fb;
}

@supports (clip-path: circle()) {
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

.loader__sq:nth-of-type(2)::before {
  --i: 2;
  border: 3px solid #ffb650;
}

.loader__sq:nth-of-type(2)::after {
  --i: 4;
  background-color: #2fe2dd;
  border-radius: 50%;
}

@supports (clip-path: circle()) {
  border-radius: 0;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

@keyframes loader-box-bounce {
  to {
    transform: translateY(0);
  }
}

.st0 {
  fill: #fff;
}

.st1 {
  fill: #b5dfea;
}

.st2 {
  opacity: 0.55;
  fill: #90cedd;
}

.st3 {
  fill: #d7f0f9;
}

.st4 {
  fill: #0582c1;
}

.st5 {
  fill: #79c9e8;
}

.st6 {
  fill: #ffbf4d;
}

.st7 {
  fill: #00668e;
}

.st8 {
  fill: #05556d;
}

.st9 {
  fill: #f98d3d;
}

.st10 {
  fill: #ed701b;
}

.st11 {
  fill: none;
}

.st12 {
  fill: #efaa3a;
}

.st13 {
  opacity: 0.29;
  fill: #f98d2b;
}

.st14 {
  fill: #49b4d6;
}

.st15 {
  fill: #ff9f50;
}

.st16 {
  fill: #f77e2d;
}

.st17 {
  opacity: 0.55;
  fill: url(#SVGID_1_);
}
